body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.3px;
}

.fa-edit, .fa-trash {
    margin-left: 20px;
    font-size: 20px;
}

.fa-edit {
    color: #FFC240;
}

.fa-trash {
    margin-right: 10px;
    color: red;
}

.fa-edit:hover, .fa-trash:hover {
    cursor: pointer;
}

.header-container {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 450px;
    width: 100%;
}

.list-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.list-titles {
    font-size: 35px;
    color: #008c97
}

.welcome-header {
    position: absolute;
    right: 200px;
    top: 20px;
    font-size: 35px;
    color: #008c97
}
