.add-comment-button {
    /* position: absolute; */
    right: 15px;
    text-align: center;
    margin-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #222223;
    color: #fff;
    font-family: system-ui;
    padding: 5px;
    font-size: 13px;
    margin: 5px;
}

.add-comment-container {
    background-color: white;
    margin-top: 10px;
    width: 330px;
    border-radius: 3px;
}

.add-comment-text-area {
    width:-webkit-fill-available;
}

body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.3px;
}

.comments-container {
    background: rgb(2,0,36);
    background: rgba(255,194,64,1);
    border-radius: 3px;
    box-shadow: 0px 0px 100px 4px rgba(255,194,64,1);
    width: 330px;
}

.comments-header {
    margin: 5px;
}

.fa-edit {
    color: #D8FAFB;
}

.fa-plus {
    color: rgb(0,123,134);
    float:right;
}

.comments-list {
    margin: 0 5px;
}

.icon-container {
    display: inline-block;
    float: right;
}

#title, #description {
    width:100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.3px;
}

label {
    color: white;
}

.save-button {
    text-align: center;
    width: 70px;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #222223;
    color: #fff;
    font-family: system-ui;
    padding: 10px 0;
    font-size: 13px;
    margin: 5px;
}
